@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-400.woff2),
         url(../fonts/Montserrat-500.woff2),
         url(../fonts/Montserrat-600.woff2),
         url(../fonts/Montserrat-700.woff2);
} 
@font-face {
    font-family: 'Playfair';
    src: url(../fonts/Playfair-700.woff2),
         url(../fonts/Playfair-800.woff2);
} 

@media (max-width: 375px) {
    h3 {/* Заголовок 2 уровня */
        display: none;
    }
    header { /* Шапка */
        display: block;
        width: 375px;
        height: 70px;
        background-image: url(../reference/header-mobile.png);
    }
    .logo { /* Логотип */
        display: none;
    }
    .menu { /* Меню */
        display: none;
    }
    .part { /* Пункты меню */
        display: none;
    }
    .telephone { /* Номер телефона в меню */
        display: none;
    }
    .kavkaz {/* Промо-блок */
        width: 375px;
        height: 250px;
        padding: 40px 10px 25px 10px;
        background-image: url(../images/grape.png);
        background-size: 150%;
    }
    .ktitle {/* Заголовок в этом блоке */
        height: 30px;
        width: 80%;
        font-family: 'Playfair';
        font-family: 800;
        font-size: 28px;
        line-height: 28px;
        color: #FFFFFF;
        display: block;
    }
    .ktext {/* Текст в данном блоке */
        width: 70%;
        height: 70px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: left;
        display: block;
    }
    button {/* Кнопка */
        width: 150px;
        height: 35px;
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        background-color: #d46d22;
        color: #FFFFFF;
        border-style: none;
        display: block;
    }
    .ev {/* Блок событий */
        width: 375px;
        height: 550px;
        padding: 6px 10px 6px 10px;
        background-color: #f1e9d3;
    }
    .sob {/* Блок для карточек и подписи */
        width: 100%;
        height: 350px;
        gap: 30px;
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .sphoto1 {/*  Сами карточки */
        display: inline-block;
        width: 325px;
        height: 350px;
        justify-content: space-between;
        margin-right: 15px;
        margin-left: 15px;
    }
    .sphoto2 {
        display: none;
    }
    .sphoto3 {/*  Сами карточки */
        display: none;
    }
    .s4 {/* Подпись */
        font-family: 'Montserrat';
        color: #d46d22;
        margin-left: 20px;
        font-weight: 700;
    }
    .form {/* Блок для формы */
        display: block;
        justify-content: center;
        width: 375px;
        height: 550px;
        background-image: url(../images/vegetables.png);
        background-size: 480%;
        padding-top: 50px;
    }
    .hc {/* Располагает элементы в центре */
        text-align: center;
        display: block;
    }
    .f {/* Сама форма */
        width: 90%;
        height: 450px;
        text-align: center;
        margin: auto;
        display: block;
    }
    .big {/* Большое поле */
        width: 90%;
        height: 30px;
        color:#49332f;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #f3c4a3;
        background-color: #f1e9d3;
        padding: 18px 15px 18px 30px;
        display: block;
    }
    .mini {/* Маленькие поля */
        width: 90%;
        height: 30px;
        color:#49332f;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #f3c4a3;
        background-color: #f1e9d3;
        padding: 18px 15px 18px 30px;
        display: block;
    }
    .learning {/* Блок обучения */
        background-color: #f1e9d3;
        width: 375px;
        padding: 30px 10px 10px 10px;
        height: 600px;
    }
    .blockl {/* Блок для программы */
        padding-top: 30px;
        display: block;
    }
    .iblock {/* Блок для элементов программы */
        display: inline-block;
        flex-direction: column;
    }
    .ologo {/* Иконки к элементам */
        display: inline-block;
        width: 24px;
        height: 27px;
        gap: 10px;
        padding: 5px 2px 2px 2px;
    }
    .otext {/* Текст элементов */
        display: inline-block;
        width: 260px;
        height: 72px;
    }
    .about {/* Блок о нас */
        width: 375px;
        height: 690px;
        padding: 0px 0px 0px 0px;
        background-image: url(../reference/about-mobile.png);
    }
    .img-a {/* Фотография */
        display: none;
    }
    .div-a {/* Блок для этой фотографии */
        display: none;
    }
    .o-nas {/* Блок текста */
        display: none;
    }
    .h2-a {/* Заголовок 2 в этом блоке */
        display: none;
    }
    .h3-a {/* Заголовок 3 в блоке */
        display: none;
    }
    .text-a {/* Текст блока */
        display: none;
    }
    .gallery {/* Блок галлереи */
        width: 375px;
        height: 500px;
        padding-top: 20px;
        background-color: #f1e9d3;
    }
    h2 {/* Настройки для заголовков 2 уровня */
        height: 30px;
        font-family: 'Playfair';
        font-family: 800;
        font-size: 28px;
        line-height: 28px;
        color: #49332f;
    }
    .l{/* Настройки для заголовков, текстов */
        margin-left: 10px;
        text-align: left;
    }
    p {/*  */
        width: 355px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    .photog {/* Коллаж */
        width: 375px;
        height: 275px;
        background-image: url(../images/gallery-underflow-mobile.png);
    }
    .photog img{
        display: none;
    }
    .contacts {/* Блок для контактов */
        display: flex;
        width: 375px;
        height: 700px;
        background-image: url(../reference/contacts-mobile.png);
    }
    .elem-k {/* Блок для группировки элементов */
        display: none;
    }
    .icon-k {/* Иконки к заголовкам */
        display: none;
    }
    .h3-k {/* Заголовки */
        display: none;
    }
    .map {/* Изображение карты */
        display: none;
    }
    footer { /* Подвал */
        display: block;
        width: 100%;
        height: 200px;
        background-image: url(../reference/footer-mobile.png);
    }
    .flogo { /* Логотип подвала */
        display: none;
    }
    .fmenu { /* Меню подвала*/
        display: none;
    }
    .fpart { /* Пункты меню */
        display: none;
    }
    .ftelephone { /* Номер телефона в меню */
        display: none;
    }
    .cs {/* Блок для соц. сетей */
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 8%;
    }
    .f-icon {/* Иконки соц. сетей */
        width: 40px;
        height: 40px;
    }
    .pravila {/* Надпись в конце сайта */
        width: 100%;
        height: 16px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    }    
}